@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-size: 1.5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
